<div style="width:600px;padding: 0px;font-family: sans-serif;">
     <img style="width: 87px;background-color: #fff;border-radius: 50%;display: inline-block;float: left;margin-left: 101px;margin-top: 6px;" src="http://thebachelortrip.tingdom.in/backend/img/emaillogo.png">    
    <h1 style="margin: 0;color: #0b358c;padding: 17px 16px 17px 201px;background: #ffca03;">THE BACHLOR TRIP</h1>
    <img src="http://thebachelortrip.tingdom.in//backend/img/emailbanner.png" width="100%" alt="" />    
    <h1 style="text-align:center;margin-bottom: 3px;color: #0b358c;">YOUR CUSTOMIZED<br>BACHELOR PARTY PLAN!</h1>
    <p style="font-size: 20px;text-align: center;margin: 0;line-height: 19px;">
        Our Bachelor Party Planning crew is
    </p>
    <p style="font-size: 20px;text-align: center;margin: 0;line-height: 19px;">
        working on your wishlist and
    </p>

    <p style="font-size: 20px;text-align: center;margin: 0;line-height: 19px;">
        will revert with the details shortly
    </p>
    <div style="padding:2px 40px">

        <div style=" padding: 15px 0px; border-bottom: 1px solid #b0b1b1;border-top: 1px solid #b0b1b1;margin: 20px 0;">
            <div style="display: inline-block;float: left;">
                <img src="http://thebachelortrip.tingdom.in//backend/img/emailcard.png" width="190" alt="" />   
            </div>
            <div style="padding-left: 206px;">
                <h3 style="color:#0b358c;">YOUR DETAILS:</h3>
                <p>Name :
                    <%= content.name    %>
                </p>
                <p>Email :
                    <%= content.email    %>
                </p>
                <p>Mobile :
                    <%= content.phone    %>
                </p>
                <p>Group Size :
                    <%= content.group  %>
                </p>
                <p>From :
                    <%= contentFrom %>
                </p>
                <p>to :
                    <%= contentTo %>
                </p>
                <p>Stage of Plan :
                    <%= content.plan %>
                </p>
                <p>Something Else :
                    <%= content.comment %>
                </p>
            </div>

        </div>
        <div style="text-align: center;line-height: 30px;padding: 15px 0;">
            <h2 style="margin: 0;color:#0b358c;font-size: 28px;">HERE'S YOUR LIST OF</h2>
            <img style="width: 64px;position: absolute;left: 80px;bottom: -241px;" src="http://thebachelortrip.tingdom.in//backend/img/emailvector.png" alt="vector" /> 
            <h1 style="margin: 0;color:#0b358c;font-size: 38px;">SINS AND FANTASIES</h1>

        </div>
        <div style="background: #fdd116; padding: 0px 10px;">
            <h2 style="padding: 8px 0px; margin: 9px 0px;color: #0b358c; ">Activities</h2>
            <table>
                <%var i =1; %>
                    <% contentAct.forEach(function(a) { %>
                        <tbody>
                            <tr>
                                <td style="padding: 15px;font-size: 20px;color: #0b358c;">
                                    <%= i%>
                                </td>
                                <td><img src="http://thebachelortrip.tingdom.in/api/upload/readFile?file=<%=a.activities.image1%>" style="width:150px;height:100px;"></td>  
                                <td style="padding: 15px;font-size: 20px;color: #0b358c;">
                                    <%= a.activities.name%>
                                </td>
                                <td style="padding: 15px;font-size: 20px;color: #0b358c;">
                                    <%= a.activities.destination.name%>
                                </td>

                            </tr>
                        </tbody>
                        <% i++; }); %>
            </table>
        </div>
        <div style="background: #fdd116; padding: 0px 10px;">
            <h2 style="padding: 8px 0px; margin: 9px 0px;color: #0b358c;">Accommodation</h2>
            <table>
                <%var j =1; %>
                    <% contentAcc.forEach(function(a) { %>
                        <tbody>
                            <tr>
                                <td style="padding: 15px;font-size: 20px;">
                                    <%= j%>
                                </td>
                                <td><img src="http://thebachelortrip.tingdom.in/api/upload/readFile?file=<%=a.image%>" style="width:150px;height:100px;"></td>  
                                <td style="padding: 15px;font-size: 20px;color: #0b358c;">
                                    <%= a.name%>
                                </td>
                                <td style="padding: 15px;font-size: 20px;color: #0b358c;">
                                    <%= a.destination%>
                                </td>

                            </tr>
                        </tbody>
                        <% j++;}); %>
            </table>
        </div>

    </div>
    <h3 style="margin: 9px 0 0;text-align: center;background: #012b7f;padding: 22px 0;color: #fff;">Cheers to ending your bachelorhood with a bang!<br>We'er definitely on-board planning your trip.</h3>
    <div style="background: #000;padding:8px 46px 6px;font-size: 13px;">
        <div style="color: #fff;display: inline-block;float: left;padding-top: 3px;">
            The Bachelor Trip 2016 &copy;
        </div>
        <div style="text-align: right;">
            <a href="https://www.facebook.com/thebachelortrip/" target="_blank"> <img width="23px" src="http://thebachelortrip.tingdom.in//backend/img/emailf.png" alt="" /></a>    
            <a href="https://www.twitter.com/TheBachelorTrip" target="_blank"> <img width="23px" src="http://thebachelortrip.tingdom.in//backend/img/emailt.png" alt="" /></a>  
            <a href="https://www.youtube.com/channel/UC5fO2EEeSWFn0oaDdWKLojw"> <img width="23px" src="http://thebachelortrip.tingdom.in//backend/img/emaily.png" alt="" /></a> 
            <a href="https://www.instagram.com/thebachelortripin/?hl=en" target="_blank"> <img width="23px" src="http://thebachelortrip.tingdom.in//backend/img/emaili.png" alt="" /></a>   
        </div>

    </div>
</div>