<html>
<head>
</head>
<body>
<p><b>Name: </b><%= content.name    %> </p>
    <p><b>Email :</b> <%= content.email    %></p>
    <p><b>Mobile:</b> <%= content.phone    %></p>
    <p><b>Group Size:</b> <%= content.groupSize    %></p>
    
     <% contentAct.forEach(function(a) { %>  
     <p>  Activities : <%= a.activities.name%></p>
     <img src="http://bachlors.tingdom.in/api/upload/readFile?file=<%=a.activities.image1%>"  alt="User Image" width="130px" height="auto">

<% }); %>
  <% contentPack.forEach(function(a) { %>  
     <p>  Packages : <%= a.package.title1%></p>
       <img src="http://bachlors.tingdom.in/api/upload/readFile?file=<%=a.package.image%>"  alt="User Image" width="130px" height="auto">
<% }); %>
 <% contentWhot.forEach(function(a) { %>  
     <p>  What-Hots : <%= a.whatshot.name%></p>
       <img src="http://bachlors.tingdom.in/api/upload/readFile?file=<%=a.whatshot.image%>"  alt="User Image" width="130px" height="auto">
<% }); %>
 
</body>
</html>