
<div style="width:600px;padding: 15px;font-family: sans-serif;">
    <h1 style="text-align: center;color: #0b358c;padding: 6px 0px;background: #ffca03; border-bottom: 2px solid #000000;"> ENQUIRY  INFO</h1>
    <div style="border-bottom: 2px solid #000000;border-top: 2px solid #000000;color: #000000;font-size: 15px;background: #ffca03;padding: 15px;">
        <p style="display: inline-block;float: left;width: 50%;"><b>Name: </b>
            <%= content.name    %>
        </p>
        <p style="display: inline-block;float: left;width: 50%;"><b>Email :</b>
            <%= content.email    %>
        </p>
        <p style="display: inline-block;float: left;width: 50%;"><b>Phone:</b>
            <%= content.phone    %>
        </p>
        <p style="display: inline-block;float: left;width: 50%;"><b>Group Size:</b>
            <%= content.size    %>
        </p>
        <p style="display: inline-block;float: left;width: 50%;"><b>From:</b>
            <%= contentFrom    %>
        </p>
        <p style="display: inline-block;float: left;width: 50%;"><b>To:</b>
            <%= contentTo    %>
        </p>
        <p style="display: inline-block;float: left;width: 50%;"><b>City :</b>
            <%= content.cities    %>
        </p>
        <p style="float: left;width: 50%;"><b>Activities :</b>
            <%= content.activities   %>
        </p>
        <p><b>Comment:</b>
            <%= content.comment    %>
        </p>
    </div>
</div>